* {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, #894b4b, #975353, #a55c5c, #b36464, #c26d6d);
}

#content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

header {
    margin-bottom: 10px;
    align-self: center;
    align-items: center;
}

#headertxt, .waffle-headline, footer {
    color: #FFF;
}

#headertxt, 
.waffle-headline {
    margin-top: 5px;
}

#headertxt {
    font-size: 1.9em;
    font-weight: bold;

    user-select: none;
}

.waffle-headline {
    display: grid;
    grid-template-columns: clamp(20px, 40px, 60px) clamp(290px, 70%, 500px);
    grid-template-rows: repeat(2, min-content);
    justify-content: center;
    column-gap: 15px;

    font-size: 0.8em;
    font-style: italic;

    width: 50vw;

    user-select: none;
}

.waffle-headline > p + p {
    margin-left: 10px;
}

img {
    width: clamp(20px, 40px, 60px);
    background: #ffffff8f;
    border: 1px solid;

    grid-row: span 2;
    align-self: flex-start;
}

main {
    padding: 15px;
    
    flex-grow: 1;
}

#tabsmenu {
    list-style-type: none;

    display: flex;
    justify-content: center;

    background-color: #4d1f1fb6;
}

#tabsmenu li {
    color: white;

    user-select: none;
    cursor: pointer;

    border: 1px solid;
    border-bottom: none;

    width: 100%;
    height: 20px;

    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

#tabsmenu li:hover {
    background-color: rgba(117, 66, 66, 0.6);
}

#menu {
    width: clamp(10vw, 550px, 90vw);
    height: 65vh;

    background-color: rgba(211, 133, 133, 0.445);

    display: flex;
    justify-content: center;
    
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 1.5em;

    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.25);
}


#hours > span {
    display: flex;
    align-items: center;
    gap: 15px;

    font-weight: bold;
}

#hours ul {
    list-style-type: none;
}

#info > p:first-child {
    font-weight: bold;
}

#info > p:nth-child(2) {
    width: 200px;

    font-size: 0.8em;
}

#contact > .card {
    padding: clamp(10px, 15px, 20px);
}

.name {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: bold;
}

.name-pic {
    width: 30px;
    height: 30px;

    border: 1px solid #ffffff86;
}

.other-info {
    text-align: left;

    align-self: start;
}

#red-pic {
    background-color: rgb(255, 0, 0);  
}

#velvet-pic {
    background-color: rgb(90, 0, 0);  
}

#maroon-pic {
    background-color: #800000;
}

.card.heading {
    padding: 10px;

    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
}

.item-info {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.item-info > p:nth-child(1) {
    font-weight: bold;
}

.item-info > p:nth-child(2),
.item-info > img {
    width: 200px;
}

.item-info > p:nth-child(2) {
    align-self: start;

    font-size: .8em;
}

.item-info > img {
    align-self: center;
}

footer {
    margin-top: auto;
}




